@model dynamic

@{
    ViewBag.Title = "Terms & Condition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Terms & Condition</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="container">
                        <h2 class="text-orange fw-bold">Cam Kết Bán Hàng</h2>
                        <p><u class="text-black">Cam kết 1:</u> Với phong cách bán hàng chuyên nghiệp, Hana sẽ hỗ trợ cho khách hàng chọn được một sản phẩm ưng ý với giá hợp lý nhất.</p>
                        <p><u class="text-black">Cam kết 2:</u> Hana sẽ hoàn tiền 100% cho khách hàng nếu bị thất lạc hoặc do sai sót trong quá trình vận chuyển hay bất cứ lỗi gì do Hana.</p>
                        <p><u class="text-black">Cam kết 3:</u> Để đảm bảo quyền lợi của khách hàng trong quá trình giao hàng, chúng tôi sẽ đảm bảo lên đơn đúng mẫu đẹp và chất lượng.</p>
                        <p><u class="text-black">Cam kết 4:</u> Bảo mật thông tin của khách hàng, không chia sẻ cho tổ chức cá nhân nào khác.</p>
                        <p><u class="text-black">Cam kết 5:</u> Luôn cố gắng bán giá thấp nhất có thể so với các sản phẩm tương tự đang có trên thị trường.</p>
                        <p><u class="text-black">Cam kết 6:</u> Giao hoa miễn phí tại Biên Hoà. Khách hàng không phải trả thêm bất cứ khoản phí nào khi nhận hàng.</p>

                        <p>Hana luôn nỗ lực phấn đấu không ngừng để đem đến cho khách hàng những sản phẩm chất lượng, đẹp, rẻ, ý nghĩa và trở thành trang web cung cấp hoa trực tuyến uy tín nhất tại Việt Nam.</p>

                        <h2 class="text-orange fw-bold">Chính sách bảo hành</h2>
                        <h3 class="text-black fw-bold">I. Đối với các sản phẩm hoa</h3>
                        <p><strong>1.</strong> Chúng tôi cam kết cắm theo mẫu hoa quy định trong đơn hàng giống từ 70-80% (Vì một số loại hoa tùy thời điểm có hoặc không, bên shop sẽ thay thế những loại hoa và phụ liệu tương tự giống nhất có thể).</p>
                        <p><strong>2.</strong> Khi kiểm tra thấy sản phẩm hoa bị thiếu một hoặc nhiều loại hoa đã yêu cầu trong đơn hàng, các bạn có thể gọi về đường dây nóng để được giải đáp.</p>
                        <p><strong>3.</strong> Chúng tôi cam kết cung cấp hoa tươi, hoàn toàn không sử dụng các hoa đã héo hoặc tàn để cắm lại. Đảm bảo các sản phẩm hoa luôn tươi lâu và bền đẹp trong thời gian dài nếu bạn biết cách chăm sóc hoa.</p>
                        <p><strong>4.</strong> Mọi vấn đề về sự cố dẫn đến việc sản phẩm không thể sử dụng được sẽ được đổi mới sản phẩm 100%.</p>
                        <p><strong>5.</strong> Các loại hoa được nhập về trong ngày nên đảm bảo không tẩm ướp hoá chất để giữ hoa tươi lâu. Đảm bảo hoa vẫn còn thơm và tươi khi đến tay quý khách hàng.</p>
                        <p><strong>6.</strong> Trong quá trình vận chuyển, nếu sản phẩm hoa bị xây xát hay biến dạng, chúng tôi cam kết bù sản phẩm hoa tốt hơn. Nếu trong quá trình nhận, do lỡ tay các bạn làm hoa hư hỏng thì chúng tôi hoàn toàn không chịu trách nhiệm về lỗi đó.</p>

                        <h3 class="text-black fw-bold">II. Đối với thông tin cá nhân khách hàng</h3>
                        <p><strong>1.</strong> Hana cam kết bảo mật thông tin chi tiết của khách hàng như họ tên, tuổi, địa chỉ, số điện thoại và email… Chúng tôi sẽ lưu giữ thông tin của khách hàng để đảm bảo quyền lợi khi sử dụng dịch vụ trực tuyến. Hệ thống cho phép khách hàng thay đổi thông tin cá nhân khi có nhu cầu.</p>
                        <p><strong>2.</strong> Nếu có bên thứ 3 yêu cầu thông tin của khách hàng, Hana chỉ cung cấp khi nhận được yêu cầu từ phía khách hàng.</p>
                        <p><strong>3.</strong> Cung cấp thông tin cụ thể như email, số hotline khi có khiếu nại của người tiêu dùng liên quan đến việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi đã thông báo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

