@model dynamic

@{
    ViewBag.Title = "Our Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Dịch vụ khác</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="container">
                        <h2 class="text-center fw-bold">Dịch Vụ Của Chúng Tôi</h2>
                        <div class="row mt-4">
                            <div class="col-md-4 text-center">
                                <h4 class="fw-bold">Đặt Hoa Theo Yêu Cầu</h4>
                                <p>Thiết kế hoa theo sở thích và yêu cầu riêng của bạn.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <h4 class="fw-bold">Giao Hoa Tận Nơi</h4>
                                <p>Miễn phí giao hoa tại Biên Hoà và khu vực lân cận.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <h4 class="fw-bold">Hoa Sự Kiện & Cưới Hỏi</h4>
                                <p>Cung cấp hoa tươi cho sự kiện, hội nghị, đám cưới.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>