@model dynamic

@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Hỗ trợ</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="container">
                        <h2 class="text-orange fw-bold">Hướng dẫn mua hàng</h2>
                        <p>Để đặt mua hoa tươi trên Hana, Quý khách có thể nhấn vào chữ “đặt mua” bên cạnh sản phẩm cần mua sau đó điền đầy đủ thông tin đặt hàng và nhấn vào chữ đặt hàng hoặc quý khách có thể gọi điện trực tiếp nhân viên chúng tôi.</p>

                        <p>Hana luôn cố gắng mang đến sự tiện lợi cho Quý khách hàng, về thanh toán chúng tôi có hai hình thức thanh toán để quý khách lựa chọn:</p>

                        <p><strong>1.</strong> Thanh toán trực tiếp cho nhân viên giao hàng hoặc nhân viên của chúng tôi khi mang hoa tươi tới giao quý khách.</p>

                        <p><strong>2.</strong> Thanh toán qua chuyển khoản và nhận hoa qua đường chuyển phát nhanh của Bưu Điện.</p>

                        <p>Đối với Quý khách ở Biên Hoà, chỉ cần gọi điện hoặc đặt hàng qua website, nhân viên của chúng tôi giao hoa tươi tận nơi Quý khách yêu cầu trong thời gian sớm nhất.</p>

                        <p>Đối với Quý khách ở các tỉnh thành lân cận, chỉ cần gọi điện hoặc đặt hàng qua website. Nhân viên chúng tôi sẽ gọi điện xác nhận, hỗ trợ và giao hoa tươi tận tay quý khách.</p>

                        <p>Quý khách gọi điện cho chúng tôi cung cấp thông tin địa chỉ người nhận, chúng tôi sẽ tiến hành lên đơn và giao cho Quý khách.</p>

                        <p>Quý khách cần thêm thông tin về cách thức mua hàng, thanh toán và nhận hàng… hãy gọi đến Hana.</p>

                        <p>Chúng tôi cam kết giao hoa tươi tận nơi và nhận tiền trực tiếp cho quý khách dù quý khách ở nơi đâu. Sự hài lòng của quý khách là thành công của Hana chúng tôi.</p>

                        <p class="fw-bold">Xin chân thành cảm ơn quý khách.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
